.nav{
    position: fixed;
    top: 0;
    height: 43px;
    width: 100%;
    /* padding:-82px; */
    display: flex;
    justify-content: space-between;
    z-index: 1;

    /* Animations */
    transition: all 0.5s;
    transition-timing-function: ease-in;

}
.nav_black
{
    background-color:black;
}
.nav-logo
{
    position: fixed;
    left: 0;
object-fit: contain;
margin-top: -32px;
height: 100px;
width: 80px;
}
.nav-avatar
{
    position: fixed;
    right: 20px;
    margin-top: -31px;
object-fit: contain;
height: 100px;
width: 40px;
}